
.filmes-favoritos {
    width: 600px;
}

.filmes-favoritos div ul{
    display: flex;
    flex-direction: column; 
}

.filmes-favoritos li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.filmes-favoritos h2 {
    font-size: 25pt;
    margin-bottom: 30px;
    text-align: center;
}

.filmes-favoritos span {
    font-size: 17pt;
}

.filmes-favoritos a {
    margin-right: 15px;
    color: brown;
    text-decoration: none;
}

.filmes-favoritos button {
    padding: 5px;
    border: none;
    color: brown;
    font-size: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    transition: all 0.5s;
}

.filmes-favoritos button:hover {
    background-color: brown;
    color: white; 
}