.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 840px;
}

.lista-filmes {
    margin: 15px;
}

.lista-filmes  article {
    /* o link não funciona sem o display flex por alguma razão */
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
}

.lista-filmes strong {
    font-size: 20pt;
    margin: 20px;
    text-align: center;
}

.lista-filmes p {
    margin: 15px 0;
    text-align: justify;
}

.lista-filmes img {
    width: 100%;
    min-height: 200px;
}

.lista-filmes article .link {
    text-decoration: none;
    color: #fff;
    background-color: #a52a2a;
    font-size: 20px;
    width: 100%;

    padding-bottom: 10px;
    padding-top: 10px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}